*{
    padding: 0;
    margin: 0;
}

.logo{
    height: 3vh;
}
.nav2 .btn-light{
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(128, 128, 128, 0.131);
}

@media screen and (max-width: 900px) {
    .first-nav{
        display: none;
    }
    .nav2 .hr{
        display: none;
    }
    .nav2 .btn-light{
        margin: 20px 0 20px 0;
    }
}
@media screen and (max-width: 500px){
    .nav2 button{
        width: 100%;
        margin: 0;
    }
}

/* home section  */
.home{
    width: 100%;
    height: 100vh;
    background-color: #DDF2E4;
}
.home .container-fluid{
    width: 50%;
}
.home h1{
    font-size: 70px;
    font-weight: bolder;
    padding-top: 17%;
}
.home p{
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 500;
    width: 80%;
    margin: auto;
}
.home .p2{
    width: 100%;
    font-weight: 500;
}
.d-logo{
    width: 70%;
    margin: auto;
}
.d-img{
    width: 12%;
}

@media screen and (max-width: 400px){
    .home{
        height: 160vh;
    }
    .home .container-fluid{
        width: 100%;
    }
    .home h1{
        font-size: 30px;
        padding-top: 30%;
    }
    .home p{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .home button{
        width: 100%;
        margin-bottom: 5%;
    }
    .d-logo{
        width: 100%;
    }
    .d-img{
        width: 30%;
    }
}

@media (min-width: 400px) and (max-width: 600px){
    .home{
        height: 170vh;
    }
    .home .container-fluid{
        width: 100%;
    }
    .home h1{
        font-size: 50px;
        padding-top: 15%;
    }
    .home p{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .home button{
        width: 100%;
        margin-bottom: 5%;
    }
    .d-logo{
        width: 100%;
    }
    .d-img{
        width: 23%;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .home{
        height: 170vh;
    }
    .home .container-fluid{
        width: 100%;
    }
    .home h1{
        font-size: 70px;
        padding-top: 15%;
    }
    .home p{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .d-img{
        width: 23%;
    }
}

/* practice section  */
.practice{
    width: 100%;
    height: 150vh;
}
.practice .container{
    padding-top: 5%;
}

.p-text{
    width: 60%;
    margin: auto;
    text-align: center;
}
.p-text h1{
    font-size: 50px;
}
.p-text p{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
}

.p-text a{
    text-decoration: none;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 500;
    transition: all ease 1s;
}

.p-text a:hover{
    text-decoration: underline;
    color: black;
}

.p-block{
    width: 100%;
    height: 70vh;
    background-color: #111621;
    border-radius: 20px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.p-col1{
    width: 50%;
    color: whites;
    color: white;
    padding: 5% 5% 0 7%;
}
.p-col1 h1{
    font-size: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.p-col1 p{
    font-size: 19px;
    padding-bottom: 5%;
}
.p-col1 button{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}

.p-col2{
    width: 50%;
}

.p-img{
    width: 100%;
    padding: 4% 10% 10% 0;
}

@media screen and (max-width:400px){
    .p-text{
        width: 100%;
        padding: 5%;
    }
    .p-text h1{
        font-size: 23px;
    }
    .p-text a{
        margin-left: 5%;
        margin-right: 5%;
    }
    .p-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 140vh;
    }
    .p-col1, .p-col2{
        width: 100%;
    }
    .p-img{
        width: 100%;
        padding: 5%;
    }
}

@media (min-width:400px) and (max-width:600px){
    .p-text{
        width: 100%;
        padding: 5%;
    }
    .p-text h1{
        font-size: 30px;
    }
    .p-text a{
        margin-left: 5%;
        margin-right: 5%;
    }
    .p-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 160vh;
    }
    .p-col1, .p-col2{
        width: 100%;
    }
    .p-img{
        width: 100%;
        padding: 5%;
    }
}

@media (min-width:600px) and (max-width:900px){
    .practice{
        width: 100%;
    }
    .p-text{
        width: 100%;
        padding: 10%%;
    }
    .p-text h1{
        font-size: 40px;
    }
    .p-text a{
        margin-left: 5%;
        margin-right: 5%;
    }
    .p-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 160vh;
    }
    .p-col1, .p-col2{
        width: 100%;
    }
    .p-img{
        width: 100%;
        padding: 5%;
    }
}